{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sorry, we couldn't find</h1>
    <h2 style="position:relative; left: 10%;">what you were looking for....</h2>
    <h3 style="position:relative; left: 20%;">(404:not found)</h3>
{% endblock %}

{% block title %}Error 404 !{% endblock %}