{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sorry, the server</h1>
    <h2 style="position:relative; left: 10%;">said 'NO!'</h2>
    <h3 style="position:relative; left: 20%;">(403: access denied)</h3>
{% endblock %}

{% block title %}Access denied !{% endblock %}